{% extends 'base/base.html' %}
{% load static %}

{% block extra_styles %}
    <style>
        body {
            background-image: url("{% static 'assets/images/far_cry_5_absolution_4k_8k.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
        }

        @media (max-width: 1500px) {
            body {
                background-size: cover;
                background-position: top center;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="overlay-contact">
        <div class="contact-page section margin-none">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-text">
                            <div class="section-heading">
                                <h2 class="text-white" style="font-weight: 800">Contact Us</h2>
                            </div>
                            <p>Got a technical issue? Want to send feedback about the custom service? Have Question
                                About A
                                Game! Let
                                us Know!</p>
                            <ul>
                                <li><span style="color:
#D1D5DB">Address</span> Sunny Isles Beach, FL 33160, United States
                                </li>
                                <li><span style="color:
#D1D5DB">Phone</span> +123 456 7890
                                </li>
                                <li><span style="color:
#D1D5DB">Email</span> gamemax@gmail.com
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="map">
                                        <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth"
                                                width="100%" height="325px" frameborder="0"
                                                style="border:0; border-radius: 23px;"
                                                allowfullscreen=""></iframe>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <form id="contact-form" action="" method="post">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    <input type="text" name="name" id="name" placeholder="Your Name..."
                                                           autocomplete="on"
                                                           required>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    <input type="text" name="surname" id="surname"
                                                           placeholder="Your Last Name..."
                                                           autocomplete="on" required>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                                           placeholder="Your E-mail..." required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    <input type="text" name="subject" id="subject"
                                                           placeholder="Subject..." autocomplete="on">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                <textarea name="message" id="message"
                                                          placeholder="Your Message"></textarea>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit"
                                                            class="orange-button my-color">
                                                        Send Message
                                                        Now
                                                    </button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}