{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="main-banner">
        <div class="overlay">
            <div class="content-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="caption header-text">
                                <h2 class="anim">BEST GAMING SHOP <span class="ever-text">EVER!</span></h2>
                                <p class="anim" style="font-size: 18px;">Your ultimate destination for the latest and
                                    greatest video games, where
                                    we
                                    bring you an
                                    unbeatable
                                    selection of thrilling adventures, action-packed titles, and immersive experiences
                                    for
                                    gamers of all
                                    levels!</p>
                            </div>
                        </div>
                        <div class="col-lg-4 offset-lg-2 anim">
                            <h2 class="text-white">OUR <span style="color: rgb(255,204,0);">BEST DEALS</span></h2>
                            <div class="carousel">
                                <button class="prev-btn">
                                    <i class="fas fa-chevron-left"></i>
                                </button>
                                <div class="carousel-wrapper">
                                    <div class="carousel-images">
                                        <a href="{% url 'game-details' slug='far-cry-6' %}"><img
                                                src="{% static 'assets/images/far_cry_6_image.jpg' %}" alt=""></a>
                                        <a href="{% url 'game-details' slug='black-myth-wukong' %}"><img
                                                src="{% static 'assets/images/black_myth_wukong_carousel_2.jpeg' %}"
                                                alt=""></a>
                                        <a href="{% url 'game-details' slug='elden-ring' %}"><img
                                                src="{% static 'assets/images/elden_ring_carousel_3.jpg' %}"
                                                alt=""></a>
                                    </div>
                                    <div class="discount-badge-price">
                                        <div class="price-details">
                                            <span class="original-price"></span>
                                            <span class="discounted-price"></span>
                                        </div>
                                    </div>
                                </div>
                                <button class="next-btn">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="decorative-line">
        <span class="line"></span>
        <div class="icon">
            <img src="{% static 'assets/images/joystick.png' %}" alt="icon">
        </div>
        <span class="line"></span>
    </div>

    <div class="section trending">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2><span class="text-white">Our Featured</span><span style="color: rgb(255,204,0)"> Game Sequences</span>
                        </h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="main-button">
                        <a href="{% url 'shop' %}" class="my-color-darker">View All</a>
                    </div>
                </div>

                {% for franchise_game in franchise_list %}
                    <div class="col-lg-3 col-md-6" id="top">
                        <div class="item">
                            <div class="thumb">
                                <a href="{% url 'shop' %}?franchise={{ franchise_game.name }}"><img
                                        src="{{ franchise_game.franchise_image.url }}"
                                        alt=""></a>
                            </div>
                            <div class="down-content">
                                <span class="category">Explore The Franchise</span>
                                <h4>{{ franchise_game.name }}</h4>
                                <a href="{% url 'shop' %}?franchise={{ franchise_game.name }}"
                                   class="my-color-darker"><i
                                        class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="decorative-line">
        <span class="line"></span>
        <div class="icon">
            <img src="{% static 'assets/images/joystick.png' %}" alt="icon">
        </div>
        <span class="line"></span>
    </div>

    <section class="pricing py-5">
        <div class="container">
            <div class="row">
                <!-- Noob Tier -->
                <h2>Our GAMEMAX Plans</h2>
                <p>Choose The Perfect Plan According To Your Gamer Needs</p>
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase text-center">Noob</h5>

                            <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span><span class="small-size">Regular Discounts On
                    Select Games</span>
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Seasonal Sales</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Standard Shipping Options
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>24/7 Customer Support</li>
                            </ul>
                            <div class="d-grid">
                                <a href="#" class="btn btn-primary">Already Purchased ✔️</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase text-center">Pro</h5>
                            <h6 class="card-price text-center">$19<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Exclusive</strong>
                                    Discounts On Games
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Shipping Above $30</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Early Access To Pre-Orders
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Priority Customer Support
                                </li>
                            </ul>
                            <div class="d-grid">
                                <a href="{% url 'contact-us' %}" class="btn btn-primary">Contact Team</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- God Tier -->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase text-center">God Tier</h5>
                            <h6 class="card-price text-center">$79<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>30%</strong> Discount
                                    On
                                    All
                                    Purchases
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Access To Rare Games</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Shipping Worldwide</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Monthly Game</li>
                            </ul>
                            <div class="d-grid">
                                <a href="{% url 'contact-us' %}" class="btn btn-primary">Contact Team</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="decorative-line">
        <span class="line"></span>
        <div class="icon">
            <img src="{% static 'assets/images/joystick.png' %}" alt="icon">
        </div>
        <span class="line"></span>
    </div>

    <div class="section cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="shop">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h6>Our Shop</h6>
                                    <h2>Go Pre-Order Buy & Get Best <em>Prices</em> For You!</h2>
                                </div>
                                <p>Pre-Order lasts 2 weeks then the original price will set in.</p>
                                <div class="main-button">
                                    <a href="{% url 'shop' %}" class="my-color">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2 align-self-end">
                    <div class="subscribe">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h6>NEWSLETTER</h6>
                                    <h2>Get Up To $100 Off! Just <em>Subscribe</em> to the Newsletter!</h2>
                                </div>
                                <div class="search-input">
                                    <form id="subscribe" action="/subscribe-newsletter/" method="POST">
                                        {% csrf_token %}
                                        <input type="email" class="form-control" id="email" name="email"
                                               placeholder="Your email...">
                                        <button type="submit" class="my-color">Subscribe Now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block extra_script %}
        <script src="{% static 'assets/js/carousel.js' %}"></script>
    {% endblock %}
{% endblock %}