{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="profile">
        <div class="profile-container anim-bottom">
            <h2 class="text-white">Personal Information</h2>
            <form method="POST">
                {% csrf_token %}

                {% for field in form %}

                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>

                {% endfor %}

                {% if not request.user.profile.profile_picture %}
                    <div class="avatar">
                        <img src="{% static 'assets/images/user.png' %}" alt="User Avatar"/>
                    </div>
                {% else %}
                    <div class="avatar">
                        <img src="{{ request.user.profile.profile_picture }}" alt="User Avatar"/>
                    </div>

                {% endif %}

                <button type="submit" class="save-button">Save</button>
            </form>
        </div>
    </div>
{% endblock %}